<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDxHKtH4ES6-8VlwJJrJAix4PMpJadzoE</string>
	<key>GCM_SENDER_ID</key>
	<string>295418757661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinemaxMovieApp</string>
	<key>PROJECT_ID</key>
	<string>cinemax-movie-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cinemax-movie-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295418757661:ios:b114736a0880c1c6d9fcf4</string>
</dict>
</plist>